body {
  width: 100%;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif;
}

a{
  text-decoration: none;
  color: #90A0B7; 
  
}

.licenze--title {
  border-bottom: 1px solid #90A0B7; 
}

.wrapper {
  max-width: 1440px;
  width: 100%;   
  box-sizing: border-box;
  margin: 0, auto;
  height: 796px;
}

.head__box, .voucher__box {
  width: 90%;
  display: flex;
  justify-content: space-between; 
}

.head {
  display: flex;
  justify-content: center;  
  width: 100%;
  align-items: center;
  height: 60px;
  -webkit-box-shadow: 0px 10px 14px 0px rgba(0,0,0,0.4); 
  box-shadow: 0px 10px 14px 0px rgba(0,0,0,0.4);
  background-color: #ffffff;
  position: relative;
  
}

.logo {
  font-size: 30px;
  color: #C2CFE0;
  padding: 10px 0 0 30px;
}

.padding{
  padding-top: 5px;
}

.head__right {
  display: flex;ß    
}

.suport__text, .unit__status, .voucher__licenze, .footer__link{
  font-size: 13px;
  color: #90A0B7;
}

.head__unit {
  display: flex; 
  justify-content: flex-end; 
}

.unit__img {
  border-radius: 50%;
  width: 15%;
  padding-right: 10px;
}

.main {
  display: flex;
  justify-content: center;
}

.main__voucher {  
  background-color: #ffffff;  
  height: 733px;
  width: 300px; 
  -webkit-box-shadow: 11px 0px 13px 0px rgba(0,0,0,0.22); 
  box-shadow: 11px 0px 13px 0px rgba(0,0,0,0.22); 
}

.voucher__option {
  width: 250px;
  text-align: center;
  padding-top: 100px;
}

.option__text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px 0 20px 30px;
}

.option__img {
  width: 20px;
  background-color: #90A0B7; 
}

.option__buy, .option__activate, .option__myVoucher, .option__history {
  color: #90A0B7;
  font-size: 13px;
  padding-left: 13px;
}

.option__text:hover .option--hover  {
  color: #109CF1;
}

.option__text:hover .option__img {
  background-color:  #109CF1;
}

.main__voucher__card {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 width: 100%
}

.voucher__card {
  background-color: #ffffff;  
  margin: 20px 20px 0 20px;
}

.voucher__card__left{
  width: 290px;
  padding: 64px;
}

.card__headline {
  font-size: 30px;

}

.card__container{
  display: flex;
  margin-top: 20px;
}

.container__left {
  width: 65%;
}

.container__right {
  padding-left: 8px;
  width: 35%;
}

.left__paragraf , .left__price {
  font-size: 11px;
  color: #90A0B7;
}

span {
  color: #90A0B7;
}

.right__paragraf, .right__currency {
  font-size: 11px;
  color: #90A0B7;
}

.money {
  border-bottom: 1px solid  #90A0B7;
  padding-top: 5px;
}

.precent {
  font-size: 11px;
  padding-left: 60%;
}

.left__paragraf, .bill, .precent{
 padding-top: 15px;
}

.bill {
  color: #109CF1;
}

.card__button {
  width: 296px;
  height: 42px;
  background-color: #109CF1;
  border-radius: 4px;
  color: #ffffff;
  font-size: 15px;
  margin-top: 13px;
}

.voucher__licenze{
  text-align: center;
  margin-top: 13px;
}

.main__footer {
  display: flex;
  justify-content: space-around;
  align-items: center;  
}

.padding--left {
  padding-left: 13px
}
.pay__img {
  width: 50px; 
  padding-left: 13px; 
}

.footer__language {
  display: flex;
  color: #90A0B7;
  font-size: 13px;  
}

.footer__language>p:hover {
  color: #109CF1;
}